<html>
<link rel="stylesheet" href="css/coin_style.css">
<html lang="en">
<head>
	<title>About Us</title>
	<h1>About Us</h1>
	

	
</head>
<body>


<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#top_10_us">Best burger places</a></li>
  <li><a href="top_world">Commie Burgers</a></li>
  <li><a href="top_parks">Best burgers</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
	<a href="https://www.youtube.com/watch?v=iM_KMYulI_s" target="_blank">Chef Ramsey</a>
    <a href="https://www.youtube.com/watch?v=SVqmNcss81Y" target="_blank">Uber secret burgers</a>
    <a href="https://www.google.com/search?q=guy+fieri&source=lnms&tbm=isch&sa=X&ved=0ahUKEwigsq3x8c_VAhUr7oMKHcoeAaUQ_AUICigB&biw=1536&bih=766" target="_blank">The myth...</a>
    </div>
  </li>
</ul></a></li>
</li>
</ul>

</html>

<html>
<head>
<link rel="stylesheet" href="coin_style.css">


</head>







	<p></p>

<p>
	</p>

<p></p>



</body>
</html>