<!DOCtype HTML5>


<link rel="stylesheet" href="css/coin_style.css">

<html lang ="en">
<head><title>Change image SRC</title>
<head><title>Change image SRC</title>
<script type="text/javascript">
function replaceImage(e) {
    var image = document.getElementById('image');
    image.src = '../img/frog.png';
    return false;
}
</script>
<header>
	<meta charset="utf-8">
	<title>Burger change test</title>
	<meta name="description" content="Burger change test">
	<meta name="author" content="Minedminds">
<h1><i><b>Burger change test</b></i></h1>
	

<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Best small burger places</a></li>
  <li><a href="top_world">Commie burgers</a></li>
  <li><a href="top_parks">Best burgers</a></li>
  
</ul>
</header>


<body>
<div id="replacement">
<a href='#' onClick='replaceImage();' title='Reload image'>Replace Image</a>
                            <img id="image" src='../img/background.gif'/>
</div>
<div id="con1" name= "con1" title="results">
<b>Here is your results!</b><br>
 <%= amount%> will give you <%= coins%><br>
 <script type="text/jquery"></script>
<script type="text/jquery"></script>
<script>
  var currentTime = new Date(),
      hours = currentTime.getHours(),
      minutes = currentTime.getMinutes();
  if (minutes < 10) {
   minutes = "0" + minutes;
  }
  var suffix = "AM";
  if (hours >= 12) {
    suffix = "PM";
    hours = hours - 12;
  }
  if (hours == 0) {
   hours = 12;
  }
  document.write(hours + ":" + minutes + suffix + "   ")
</script>
<script type="text/javascript">
  var currentDate = new Date(),
      day = currentDate.getDate(),
      month = currentDate.getMonth() + 1,
      year = currentDate.getFullYear();
  document.write(day + "/" + month + "/" + year)
</script>
</div>

 
</div>
<div id="con2" name="con2" title="Contact">
<p>hope you like that burger freind, made it with my own two hands,a pan, and a little help from uncle sam.</p> 

speaking of good ol uncle sam, he says you should click the image below and check out a cool program! 




<div id = mm><a href="http://www.minedminds.org"><img src = "./img/mm.jpg"></a>

</div>


</div>
</body>

<footer>
  <p>Posted by: &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>