<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/coin_style.css">
</div>
<header>
	
	<meta charset="utf-8">
	<title>Burgers</title>
	<meta name="description" content="Burgers">
	<meta name="author" content="Minedminds">
	<h1><i><b>Burgers</b></i></h1>
	<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Best Small Burger Places</a></li>
  <li><a href="top_world">Commie Burger</a></li>
  <li><a href="top_parks">Best burgers</a></li>
  
</ul>

</header>

<body>

<!-- Went with bold on this line -->
<div id="cc" name="cc" title="coinhanger">
<i>You will be needing change when you bust that 20 on a 4 buck hamburger, so to test my skills give me a number under 100.</i>
<!-- Went with italics on this line -->
<form method = 'post' action = '/index'>

	<input type = 'number' name = 'amount'>
	
	<input type = 'submit'>
</form> 

<script type="text/javascript">
function show_now() { 
var my_time = new Date();
alert(my_time); 
}
</script>
<input type=button value="Show Time" onclick="show_now();">	
 
</div>
<div id="index_text" name="index_text" title="index">
<p><b><i>Burgers are considerd and american tradition, and if there not they should be.</i></b></p>

<p>
And with all the custimization and steryotypes between americans and burgers, why wouldnt it be?</p>

<p>I mean what kind of monster would even hate a burger, they are hands down one of the best food creations because there cheap, can be mass produced, and its good as just the patty!</p>

</div>
</body>
<div id="foot">
<footer>
  <p>Posted by: &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
  </div>
</footer>

</html>