<!DOCtype HTML5>
<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/coin_style.css">
</div>
<header>
	<meta charset="utf-8">
	<title>Commie burger</title>
	<meta name="description" content="Commie Burger">
	<meta name="author" content="Minedminds">
	<h1><i><b>Commie Burgers</b></i></h1>
	

	


	



<ul>
  <li><a href="index">Home</a></li>
  <li><a href="top_10_us">Best small burger places</a></li>
  <li><a href="top_world">Commie Burgers</a></li>
  <li><a href="top_parks">Best burgers</a></li>

</ul>
</header>
</body>

	<p>Burgers are definetly a good thing, but real talk, in north korea they think one of the kims invented the hamburger, and its simply called "meat in bun".</p>


<p>They are really only handed out in colleges and some gov establishments.</p>

<i>North korea is a truly odd place.</i><br>
<a href = 'http://polandball.wikia.com/wiki/North_Koreaball'><img src = "/img/nk.png"></a>
</body>
<footer>
  <p>Posted by: &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>