<link rel="stylesheet" href="css/coin_style.css">

<header>
	<meta charset="utf-8">
	<title>Best burgers</title>
	<meta name="description" content="Best burgers">
	<meta name="author" content="Minedminds">
	<h1><i><b>Best burgers</b></i></h1>
	<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#top_10_us">Best burger places</a></li>
  <li><a href="top_world">Commie Burgers</a></li>
  <li><a href="top_parks">Best burgers</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
	<a href="https://www.youtube.com/watch?v=iM_KMYulI_s" target="_blank">Chef Ramsey</a>
    <a href="https://www.youtube.com/watch?v=SVqmNcss81Y" target="_blank">Uber secret burgers</a>
    <a href="https://www.google.com/search?q=guy+fieri&source=lnms&tbm=isch&sa=X&ved=0ahUKEwigsq3x8c_VAhUr7oMKHcoeAaUQ_AUICigB&biw=1536&bih=766" target="_blank">The myth...</a>
    </div>
  </li>
</ul></a></li>
</li>
</ul>

</header>


<body>
<div id="parks" name="parks" title="parks">
	<p>now here comes a big opinion, what is the best burger.</p> <br>
	<p>now while this is primarily subjective, there is a list on a forum that ranks it from 1-100.</p><br>
	<p>so click here and find out!<i><b>.</b></i> </p>
	<a href = 'https://www.thrillist.com/eat/nation/best-burgers-in-america-burger-quest'><img src = "./img/burger1.jpg"></a>
</div>
</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>
