<doctype HTML5>
<html lang ="en">


<link rel="stylesheet" href="css/coin_style.css">	

<header>
	<meta charset="utf-8">
	<title>Best small burger places</title>
	<h1><i><b>Best small burger places</b></i></h1>
	<meta name="description" content="Best small burger places">
	<meta name="author" content="Minedminds">

	

	
	<ul>
  	<li><a href="index">Home</a></li>
  	<li><a href="top_10_us">Best small burger places</a></li>
 	<li><a href="top_world">Commie Burgers</a></li>
  	<li><a href="top_parks">Best Burgers</a></li>
  
</ul>
</header>


<body>
<div id="us" name="us" title="us">
<p>so you think youve seen them all eh? the McD burger, the burger king, the burger they sell you at some resturant on the side of the road.</p>
<p>well here are some places you should go with freinds and familly to kick back and talk with one another, get back to that old fashioned american service style.</p>

<p><i>Without further ado, Click on the photo below of this sweat burger to check out some burger joints.</i></p>
<a href = 'http://www.businessinsider.com/best-burgers-in-america-2015-5'><img src = "./img/burger1.jpg"></a>
</div>
</body>
<footer>
  <p>Posted by: Steph &copy Minedminds</p>

  <p>Contact information: <a href="mailto:info@minedminds.org">
  info@minedminds.org</a>.</p>
</footer>

</html>
